body{
    font-family: 'Chivo Mono', monospace;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.name-higlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}